# Only include the API keys you want to use. You can get them from the respective platforms.
# Not necessary to include all of them, just the ones you want to use.

ANTHROPIC_API_KEY=<your Anthropic API key>
OPENROUTER_API_KEY=<your OpenRouter API key>
GROQ_API_KEY=<your Groq API key>
GEMINI_API_KEY=<your Gemini API key>